    h1 {font-weight: bold;}
      .row > div > div {
          text-align: center;
          font-size: 90%;
          color: "dark-blue";
      }

    .navfont {font-weight: bold; font-size: 300%;
      color: black; background-color:blue;
    }
    .bg-light {
  background-color: #3b3e42 !important;
    }  
    a:link {
      color: black;
    }
    a:hover {
      color: black;
    }
    a:active {
      color: black;
    }
    a:visited {
      color: black;
    }
    .img {
      padding-top: 2em;
      padding-bottom: 2em;

    }
    .btns {
      margin-top: 2em;
      margin-bottom: 2em;
      background-color: rgb(45,110,104);
    }
    body {
      padding-bottom: 20px;
    }
    
    .navbar {
      margin-top: 20px;
      margin-bottom: 20px;
      background-color: rgb(45,110,104);
    }
    